.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1e293b;

  padding: 15px 20px;

  border-radius: 12px;

  margin-bottom: 20px;
}

.navbar h2 {
  margin: 0;
}

.navbar button {
  background-color: #ef4444;
}

.navbar button:hover {
  background-color: #dc2626;
}
.light-theme {
  background-color: #f8fafc;
  color: #111827;
}

.light-theme .navbar,
.light-theme .card {
  background-color: white;
  color: #111827;
}

.light-theme .stat-card {
  color: white;
}
.footer {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  color: #94a3b8;
}
